body {
  font-family: "-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji";
  font-weight: 400;
  line-height: 1.5;

}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader-container {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #ffff;
  opacity: 1.0;
  z-index: 99;
}

.list-containe {
  background-color: #fafafa;
  flex: 1 1 auto;
  overflow-y: auto;
}


.sidebar-container {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  border: 1px solid #555;
}

.drawer-content {
  width: 35vw;
  height: 100%;
  margin: 0px;
}

.toolbar {
  // flex: 0 0 45px;
  font-size: 14px;
  z-index: 1;
  left: 0;
  top: 0;
  // position: relative;
  // position: sticky;
  color: #fff;
  background-color: #1976d2;
  box-sizing: border-box;
  white-space: nowrap;
  // padding: 11px 5px 0 15px

}



.section-filter {
  width: 100%;
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #fff;
  background: #2196f3;
}

.filter-box {
  display: inline-block;
  text-align: left;
  padding: 12px 15px 9px 4px;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.filter-title {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 200;
  display: block;

}

.arrow-down {
  font-size: 120%;
  vertical-align: middle;
  display: inline;
}

img {
  vertical-align: middle;
  border-style: none;
}

.filter-content {
  margin-top: 20px;
  display: block;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 200;
}

img {
    object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: middle;
 border-style: none;

}

.map-images{

    cursor: pointer;
    flex-direction: row!important;
    display: flex!important;
}



.mat-tab-group {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow-y: auto;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  position: relative;
  position: sticky;
}

.specials{
  padding: 5px 15px 20px;
  border-bottom: 1px solid #dedede;
}

.specials__headings{
  color: #666;
  font-size: 15px;
  display: block;
  padding-top: 7px;
  padding-bottom: 0;
}

.specials__options{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}

.specials__options_text{
  position: static;
  left: 0;
  right: 0;
  font-size: 13px;
  line-height: 24px;
}

.floorplans-table {
  display: flex;
  // padding: 5px 10px 5px 15px;
  padding: 5px 15px 20px;

  border-bottom: 1px solid #dedede;
}

.floorplans-table-row {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

.floorplans-table-row-items {
  font-size: 14px;
  line-height: 28px;
}

.floorplans-table-row-sq{
  color: rgba(0,0,0,.65);
  font-size: 13px;
  display: inline-block;
}

.floorplan-table-row-item.image-text {
  display: inline-block;
  padding-left: 5px;
    font-size: 12px;
    line-height: 16px;
}

.floorplan-table-row-item.price{
  font-size: 20px;
  font-weight: 200;
  color: #1976d2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
  padding-right: 0;
  padding-left: 16px;
}

.mat-list-base {
  padding-top: 8px;
    display: block;
    -webkit-tap-highlight-color: transparent;
}

.mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;
    position: relative;
    height: inherit;
}

.mat-list mat-list-item.mat-list-item .mat-line {
  white-space: normal;
  font-size: 14px;
}

.mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  // font-size: inherit;
}

.mat-list-base .mat-list-item .mat-line {
  // white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}

.mat-list-text {
  display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.mat-list-icon{
  flex-shrink: 0;
    width: 24px;
    height: 24px;
    font-size: 24px;
    box-sizing: content-box;
    border-radius: 50%;
    padding: 4px;
    color: #03a9f4;
}

.mat-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: inherit;
}

.expansion-list-panel .mat-expansion-panel-header {
  padding: 0 20px;
  font-size: 14px;
}

// .mat-expansion-panel {
//   box-sizing: content-box;
//   display: block;
//   margin: 0;
//   border-radius: 4px;
//   overflow: hidden;
//   transition: margin 225ms cubic-bezier(.4,0,.2,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
// }

// mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
//   display: flex;
//   flex-grow: 1;
//   margin-right: 16px;
// }

.mat-expansion-panel-content {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

.mat-expansion-panel-body {
  padding: 0 24px 16px;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
}

.material-icons-outlined {
  font-family: 'Material Icons Outlined';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.section-container {
  min-height: 75px;
  padding: 5px 15px 10px;
  background-color: #fff;
  display: block;
}

.container-heading {
  color: #666;
  font-size: 15px;
  display: block;
  padding-top: 7px;
  padding-bottom: 0;
}

.container-options {
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}

.container-options-item {
  display: flex;
  padding: 11px 10px 11px 0;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}


.small-icon {
  width: 20px;
  height: 20px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.container-options-item-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
}

.inline {
  display: flex;
  // color: #000;
  flex-direction: row;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  // margin-left: 15px;
  padding: 11px 10px 11px 0;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}
