<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<section class="map-content">
  <mat-drawer-container  class="sidebar-container">
    <mat-drawer #drawer mode="side" tabindex="-1" style="transform: none; visibility: visible;" opened class="drawer-content">
      <mat-toolbar class="toolbar" *ngIf="mapInfo">
        <span>{{mapInfo.firstname}} {{mapInfo.lastname}} | {{mapInfo.company}}</span>
      </mat-toolbar>
      <div class="section-filter mat-background-accent">
        <div class="filter-box">
        <div class="filter-title">
            Rent
          <img class="arrow-down" src="../../../assets/images/arrow-down-white.svg">
        </div>
        <div class="filter-content"> $726 - $1,126</div>
        </div>
        <div class="filter-box">
          <div class="filter-title">
            Bedrooms
            <img class="arrow-down" src="../../../assets/images/arrow-down-white.svg">
          </div>
        <div class="filter-content"> Studio, 1, 2, 3 </div>
          </div>
  
      </div>
      <!-- <mat-toolbar class="sub-toolbar">
        <span >{{mapInfo.firstname}} {{mapInfo.lastname}} | {{mapInfo.company}}</span>
      </mat-toolbar> -->
      <main *ngIf="records"  fxLayout="column" fxLayoutGap="14px">
          <mat-card (click)="sideClick(record)" class="card-container" *ngFor="let record of records" >
            <mat-card-header>
              <mat-card-title>{{record.name}}</mat-card-title>
              <mat-card-subtitle>{{record.streetAddress}}, {{record.city}}</mat-card-subtitle>
                <mat-card-subtitle class="inline" *ngFor="let plan of record.floorplans; let i = index;">
                  <img width="20px" src="{{priceIcons[i]}}" />  <span>${{plan.price  | number}}+ </span>
                </mat-card-subtitle>
              <mat-card-subtitle>{{record.highValueAmenities.length}} High value amenities </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          <div class="spacer  "></div>
            <img mat-card-image src="{{record.photo}}" >
          </mat-card>
      </main>
    </mat-drawer>
  
    
      
      <!-- <app-list-details *ngIf="selectedFeature" [feature]="selectedFeature">
        
      </app-list-details> -->
      <router-outlet></router-outlet>
      
    </mat-drawer-container>
    
    <div id="map" class="map-container"> </div>
</section>




